* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #f2f2f2;
}

header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px;
}

h1 {
	font-size: 36px;
}

main {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}

.editor, .preview {
	flex-basis: 50%;
}

h2 {
	margin-bottom: 10px;
}

.editor textarea {
	width: 100%;
	height: 500px;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: white;
	resize: vertical;
}

.preview {
	background-color: white;
	padding: 10px;
	border-radius: 5px;
	overflow-y: scroll;
}

.preview p {
	margin: 10px 0;
}

.preview code {
	background-color: #f2f2f2;
	padding: 3px 5px;
	border-radius: 3px;
	font-size: 16px;
}

.preview pre {
	background-color: #f2f2f2;
	padding: 10px;
	white-space: pre-wrap;
}

.preview blockquote {
	background-color: #f2f2f2;
	padding: 10px;
	border-left: 5px solid #333;
	margin: 10px 0;
}

.preview ul {
	margin-left: 20px;
}

.preview ul li {
	margin: 5px 0;
}

.preview ol {
	counter-reset: item;
	margin-left: 20px;
}

.preview ol li {
	margin: 5px 0;
}

.preview ol li:before {
	content: counter(item);
	counter-increment: item;
	margin-right: 10px;
	font-weight: bold;
	color: #333;
}